{
  "extends": ["eslint:recommended", "plugin:jest/recommended"],
  "plugins": ["prettier", "jest"],
  "env": {
    "node": true,
    "jest/globals": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": "off",
    "no-unused-vars": "warn"
  },
  "globals": {
    "console": false
  }
}
